<!DOCTYPE html>

<html>

<head>

	<title></title>

</head>

<body>

	<div id="root">
		<ul>
			<li v-for="name in names">
				{{ name }}
			</li>
		</ul>


		<input id="input" type="text" v-model="newName">
		<button v-on:click="addName">Add Name</button>

	</div>
	

	<script src="https://unpkg.com/vue"></script>
	<script>

		//create a new vue that only looks at the root div
		var app = new Vue({
			el: '#root',
			data: {
				newName: '',
				names: ['Joe', 'Mary', 'Jane', 'Jack']
			},

			methods: {
				addName() {
					this.names.push(this.newName);

					this.newName = '';
				}
			}

		});

		

	</script>

</body>

</html>