<!DOCTYPE html>

<html>

<head>

	<title></title>

	<style>
		.is-loading { background: red; }
	</style>

</head>

<body>

	<div id="root">
		<h2>all tasks</h2>
		<ul>
			<li v-for="task in tasks" v-text="task.description"></li>
		</ul>

		<h2>incomplete tasks</h2>
		<ul>
			<li v-for="task in incompleteTasks" v-text="task.description"></li>
		</ul>

	</div>
	

	<script src="https://unpkg.com/vue"></script>
	<script>

		//create a new vue that only looks at the root div
		var app = new Vue({
			el: '#root',
			data: {
				tasks: [

					{ description: 'Go to store', completed: true },
					{ description: 'Go to work', completed: true },
					{ description: 'Go to pharmacy', completed: false },
					{ description: 'Go to bed', completed: false },

				]
			},

			computed: {
				incompleteTasks() {
					return this.tasks.filter(task => ! task.completed);


				}
			}


		});

		

	</script>

</body>

</html>